:root {
    --warm-black: #3d3d3d;
    --soft-blue: #007b7d;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333333;
}
html {
    height: 100vh;
    width: 100vw;
    font-size: 62.5%;
    font-family: 'Fira Sans', sans-serif;
}
.wave1, .wave2 {
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
}
.wave1 {
    background-image: url(https://res.cloudinary.com/dnkddxigy/image/upload/v1611792009/Furniture-shop/draw1_r0b5fc.svg);
    background-size: contain;
    width: 65%;
    height: 58%;
    top: 0%;
}
.wave2 {
    background-image: url(https://res.cloudinary.com/dnkddxigy/image/upload/v1611792010/Furniture-shop/draw2_be7tnc.svg);
    background-size: cover;
    top: 33%;
    width: 100%;
    height: 67%;
}
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #e3ebda;
    display: grid;
    justify-content: center;
    align-content: center;
}
button {
    border: none;
    background-color: transparent;
    outline: none;
}
input {
    outline: none;
    background-color: transparent;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 9.3rem;
}
h2 {
    font-weight: 300;
    font-size: 2.6rem;
}
header {
    position: relative;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 2fr 1fr 1fr;
    grid-template-areas: 
        "title-nav title-nav title-nav"
        ". . description"
        ". . description"
        "social-networks about-tab about-tab";
    width: 90vw;
    height: 88vh;
}
.title-nav-container {
    display: flex;
    justify-content: space-between;
    grid-area: title-nav;
}
header nav span {
    display: flex;
}
header nav {
    display: flex;
    gap: 7px;
    align-items: center;
    height: 30px;
}
header nav form {
    display: flex;
    gap: 15px;
}
header .nav__search-bar {
    border: none;
    border-bottom: 1.3px solid var(--warm-black);
}
header .nav__search-button {
    border: none;
    width: 25px;
    height: 25px;
    align-self: center;
}
.nav__second-button {
    padding: 0 10px 0 10px;
    border-left: 2px solid ;
    border-right: 2px solid ;
}
header nav img {
    width: 25px;
}
.item-img-container {    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 88vh;
    width: 100%;
    filter: drop-shadow(3px 6px #b57457);
    z-index: -1;
}
.item-img-container img {
    position: absolute;
    height: 88vh;
    max-width: 920px;
}
.item-description {
    width: 16vw;
    justify-self: end;
    text-align: right;
    grid-area: description;
    grid-row: 2 / 3;
    align-self: center;
    font-size: 10.5px;
}
.item-description__details .price, .item-description__details .brand {
    color: var(--soft-blue);
    font-size: 2em;
    font-weight: 600;
    line-height: 25px;
}
.item-description__details .brand {
    color: #333333;
}
.item-description__details .name {
    font-weight: 100;
    font-size: 2em;
}
.item-description__review {
    font-size: 1.2em;
    line-height: 22px;
    float: right;
    margin-top: 15px;
}

.social-networks {
    display: flex;
    flex-direction: column;
    gap: 6px;
    grid-area: social-networks;
    align-self: end;
}
.social-networks img {
    width: 25px;
}

.about-tab {
    display: flex;
    align-self: flex-end;
    width: 420px;
    justify-content: space-between;
    grid-area: about-tab;
    justify-self: end;
}
.about-tab a /* TEXT*/ {
    display: flex;
    align-items: center;
    transform:scaleY(1.4); 
    letter-spacing: 1px;
    font-size: 1.15rem;
    color: var(--warm-black);
}
.about-tab img {
    width: 18px;
    transform: scaleX(1.3);
}
.about-tab button {
    padding: 13px 20px 13px 20px;
    border: 1.8px solid var(--warm-black);
    border-radius: 15px;
    font-weight: 600;
}
.about-tab__border-none-container {
    display: flex;
    align-items: center;
}
.about-tab .about-tab__border-none {
    border: none;
    padding: 8px 0;
    margin-left: 35px;
}
.about-tab .about-tab__basket-button {
    padding: 13px 10px;
    border-radius: 12px;
    border-color: var(--soft-blue);
    background-color: var(--soft-blue);
}
.about-tab .about-tab__basket-button a {
    color: rgb(248, 242, 242);
}

/* breakpoints */
/* @media (max-width: 663px) {
    h1 {
        font-size: 8em;
        width: 50%;
    }
    header nav {
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        align-self: center;
        height: 80%;
    }
    header .nav__search-bar {
        display: none;
        width: 0px;
    }
    .nav__second-button {
        padding: 0;
        border: none;
    }
    
    .item-img-container img{
        height: auto;
        max-width: 95vw;
        max-height: 96vh;
    }
} */

/* @media (max-width: 640px) and (max-height: 360px) and (orientation: landscape) {
    h1 {
        font-size: 5rem;
    }

    header nav {
        flex-direction: row;
        align-self: flex-start;
        align-items: center;
        height: 50%;
    }
    header nav img {
        width: 20px;
    }
    header .nav__search-button {
        width: 20px;
        height: 20px;
    }

    .item-description {
        width: 121%;
    }
} */


/* landscape */
@media (min-width: 560px) and (orientation: landscape) {
    h1 {
        font-size: 4rem;
        width: 100%;
    }
    h2 {
        font-size: 2rem;
    }
    header .nav__search-bar {
        width: 0;
    }
    
    .item-description {
        font-size: 8px;
    }
    .item-description__details .price, .item-description__details .brand {
        font-size: 1.5em;
    }
    .item-description__details .name {
        font-size: 1.5em
    }
    .item-description__review {
        font-size: 1em;
        line-height: 14px;
        width: 120%;
    }

    .social-networks img {
        width: 16px;
    }
    .about-tab {
        width: 350px;
    }
    .about-tab a {
        font-size: 1rem;
    }
    .about-tab img {
        width: 12px;
    }
    .about-tab button {
        padding: 5px 16px 5px 16px;
    }
    .about-tab .about-tab__basket-button {
        padding: 5px 10px;
    }
}
@media (min-width: 640px) and (orientation: landscape) {
    header nav {
        height: 40px;
    }
    header .nav__search-button {
        width: 17px;
        height: 17px;
    }
    header nav img {
        width: 17px;
    }

}
@media (min-width: 720px) and (orientation: landscape) {
    h1 {
        font-size: 6em;
        width: auto;
    }

    header .nav__search-button {
        width: 19px;
        height: 19px;
    }
    header nav img {
        width: 19px;
    }

    .item-description {
        width: 100%;
        font-size: 10px;
    }
    .item-description__review {
        width: 120%;
        line-height: 20px;
    }
    
}
@media (min-width: 820px) and (orientation: landscape) {
    .item-description__review {
        width: 100%;
    }
}
@media (min-width: 1024px) and (orientation: landscape) {
    h1 {
        font-size: 10.5rem;
        width: 100%;
    }
    h2 {
        font-size: 3rem;
    }

    header .nav__search-bar {
        width: auto;
    }
    header .nav__search-button {
        width: 25px;
        height: auto;
    }
    header nav img {
        width: 25px;
    }

    .item-description {
        width: 100%;
        font-size: 12px;
    }
    .item-description__review {
        line-height: 24px;
        margin-top: 30px;
    }

    .social-networks img {
        width: 30px;
    }

    .about-tab {
        width: 540px;
    }
    .about-tab img {
        width: 22px;
    }
    .about-tab a {
        font-size: 1.8rem;
        transform: scaleY(1.25);
    }
}
@media (min-width: 1366px) and (orientation: landscape) {
    h1 {
        font-size: 12rem;
    }
    h2 {
        font-size: 3.8rem;
    }

    header .nav__search-button {
        width: 35px;
    }
    header nav img {
        width: 35px;
    }

    .item-description {
        font-size: 15px;
    }

    .about-tab button {
        padding: 13px 20px 13px 20px;
    }
    .about-tab .about-tab__basket-button {
        padding: 13px 10px;
    }
}
@media (width: 653px) and (height: 280px) and (orientation: landscape) {
    .item-description__review {
        margin-top: 2px;
    }
    .item-description__details .price, .item-description__details .brand {
        line-height: 10px;
    }
}
/* portrait */
@media (min-width: 320px) and (orientation: portrait) {
    .nav__search-bar {
        width: 0;
    }
    header nav {
        flex-direction: column;
        
    }
}
@media (min-width: 664px) and (orientation: portrait) {
    h1 {
        font-size: 12rem;
    }

    .item-description {
        width: 90%;
        font-size: 16px;
    }
    .item-description__review {
        line-height: 26px;
    }

    .item-img-container img {
        min-width: 650px;
        max-width: 89vw;
        height: auto;
    }

    .social-networks img {
        width: 40px;
    }

    .about-tab {
        width: 650px;
    }
    .about-tab img {
        width: 26px;
    }
    .about-tab a {
        font-size: 2.5rem;
        transform: scaleY(1.25);
    }
}
@media (min-width: 320px) and (orientation: portrait) {
    h1 {
        font-size: 5rem;
    }
    header {
        grid-template: 1fr 1fr 1fr 1fr .5fr / 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "title-nav title-nav title-nav title-nav"
            ". . description description"
            ". . description description"
            ". about-tab about-tab ."
            ". social-networks social-networks .";
    }
    .item-description {
        width: 100%;
        font-size: 9px;
    }
    .social-networks img {
        width: 19px;
    }
    .social-networks {
        flex-direction: unset;
        justify-content: center;
        gap: 10px;
    }
    .about-tab {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
        gap: 3px;
        height: auto;
        width: auto;
    }
    .about-tab button {
        padding: 6px 10px 6px 10px;
        border: none;
    }
    .about-tab .about-tab__basket-button {
        padding: 7px 10px;
    }
    .about-tab img {
        width: 12px;
    }
    .about-tab .about-tab__border-none {
        margin: 0;
        padding: 0;
    }    
}
/* @media (max-width: 1024px) and (orientation: landscape) {
    h1 {
        font-size: 6rem;
        width: auto;
    }

    .item-description {
        width: 90%;
        font-size: 8.6px;
    }
    .item-description__review {
        line-height: 14px;
    }

    .social-networks img {
        width: 20px;
    }

    .about-tab img {
        width: 13px;
    }
} */
/* @media (min-width: 663px) and (orientation: landscape){
    h1 {
        font-size: 8.8rem;
    }
} */
